@{
    ViewData["Title"] = "Podcast Information";
}

<h1>Joel has a podcast!</h1>
<h3>Click the link below to listen to his podcast and learn more about all your favorite movies.</h3>
<br />
<a href="https://baconsale.com/">Find his podcast here</a>